// Structure

$base__space-unit: 1.5rem;
$fixed-width:1080px;
$base-border:1px dashed #ffffff;

// Colors

$color__background-body: #222222;
$color__text-main: #fff;

$color__background-screen: #222;
$color__text-screen: #00cc00;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #00cc00;
$color__link-visited: #009100;
$color__link-hover: #009100;

// Typography

$font__main: sans-serif;
$font__code: 'exomedium';
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__size:16px;


 





